<html>
<head>

<script src="jquery-1.11.3.min.js"></script>
<script src="resultJson"></script>
<script src="chartFunctions.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide-full.min.js"></script>
<script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/joomla/media/com_demo/highslide.css" />
<script type="text/javascript">
var gitLink = '';
</script>


</head>
<body>
<div id="container"></div>
</body>
</html>
